{% extends "admin/bars.html.twig" %}

{% block contentpage %}
<div style="">
    <h1 style="text-align: center"> Congés des collègues </h1>
    <div style="border-top: 1px solid #a1a1a1;" class="ln_solid"></div>
    <div style="color: #0f0f0f" id="calendar-holder">
    </div>

</div>
{% endblock %}
